# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=dukahub_db

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

# Gmail
GMAIL_USER=your@gmail.com
GMAIL_PASSWORD=your_app_password

# Frontend
FRONTEND_URL=http://localhost:4200